PORT=4000
NODE_ENV=development
FRONTEND_ORIGIN=http://localhost:5173
ALGORAND_ALGOD_TOKEN=
ALGORAND_ALGOD_SERVER=https://testnet-api.algonode.cloud
ALGORAND_ALGOD_PORT=
ALGORAND_APP_ID=
ALGORAND_DEFAULT_MNEMONIC=