ALGOD_SERVER=https://testnet-api.algonode.cloud
ALGOD_PORT=
ALGOD_TOKEN=
DEPLOYER_MNEMONIC=
APPROVAL_PROGRAM_PATH=../contracts/src/EscrowContract.approval.teal
CLEAR_PROGRAM_PATH=../contracts/src/EscrowContract.clear.teal
NUM_GLOBAL_INTS=2
NUM_GLOBAL_BYTE_SLICES=3
NUM_LOCAL_INTS=0
NUM_LOCAL_BYTE_SLICES=0
